lib/AST/Debug+Asserts/*
lib/AST/Release+Asserts/*
lib/Basic/Debug+Asserts/*
lib/Basic/Release+Asserts/*
lib/Frontend/Debug+Asserts/*
lib/Frontend/Release+Asserts/*
lib/Lex/Debug+Asserts/*
lib/Lex/Release+Asserts/*
lib/Lex/utf/Debug+Asserts/*
lib/Lex/utf/Release+Asserts/*
lib/Parse/Debug+Asserts/*
lib/Parse/Release+Asserts/*
lib/Sema/Debug+Asserts/*
lib/Sema/Release+Asserts/*
test/lit.site.cfg
test/Frontend/Output/*
test/Lexer/Output/*
test/Parser/Output/*
test/Sema/Output/*
tools/driver/Debug+Asserts/*
tools/driver/Release+Asserts/*
.DS_Store
*.swp
*.swo
*.swn
